@import '../../styles//config';

.search {
    text-align: center;
    border-bottom: $grey-border;
    padding: 1.5rem 0;
}

.search:first-child {
    border-top: $grey-border;
}

.search h3 {
    color: $text-color;
}

.search p {
    font-family: $text-font;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}

.footer .found {
    color: green;
    font-weight: bold;
}