.search {
    text-align: center;
    border-bottom: 2px solid #c4c4c4;
    padding: 1.5rem 0;
}

.search:first-child {
    border-top: 2px solid #c4c4c4;
}

.search h3 {
    color: #333;
}

.search p {
    font-family: Courier, 'Courier New', monospace
}

.footer {
    display: flex;
    justify-content: space-evenly;
}

.footer .found {
    color: green;
    font-weight: bold;
}