@import '../../styles/config';

.search {
    text-align: center;
    border-bottom: $grey-border;
    padding: 1.5rem 0;

    h3 {
        color: $text-color
    }

    &:first-child {
        border-top: $grey-border;
    }
}

.footer {
    display: flex;
    justify-content: space-evenly;

    .found {
        color: green;
        font-weight: bold;
    }
}