@import '../../styles/config';

.suggestions {
    border-top: $grey-border;

    .content {
        h3, div:not(.footer) {
            margin: $align-content;
        }

        .greyline {
            margin: 2rem 4rem !important;
        }

        .greyline {
            border-bottom: $grey-border;
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }
}

.upvote {
    font-family: $text-font;
    font-size: $text-subtext-size;
    color: $blue;
}

.addsuggestion {
    
    textarea {
        height: 20rem;
        width: 50%;
        margin: 0 auto;
        border: $input-border;
        display: flex; justify-content: center;
    }

    .error {
        margin: $align-content;
    }

}