.tabs {
    display: flex;
    margin: 0 2rem;
}

.tabs button {
    border: none;
    border-bottom: 1.5px solid #000;
    outline: none;
    background: none;
    width: 50%;
    padding: 1.5rem 4rem;
    font-family: Courier, 'Courier New', monospace;
    font-size: 21px;
    cursor: pointer; 
}

.tabs button.active {
    border: 1.5px solid #000;
    background-color: #D2D4D5;
}