//Colors
$grey: #c4c4c4;
$text-color: #333;
$black: #000;
$active-tab-color: rgba(210, 212, 213, 0.5); 

// Fonts
$text-font: Courier, 'Courier New', monospace;
$title-font: Helvetica, Arial, sans-serif;

$text-font-size: 21px;

// Spacing
$header-margin: 1rem 2rem;

//Border
$default-border: 2px solid #000;
$grey-border: 2px solid #c4c4c4;