//Colors
$grey: #c4c4c4;
$text-color: #333;
$black: #000;
$white: #f4f4f4;
$red: red;
$green: green;
$blue: #21869C;
$dark-blue: #1e272e;
$active-tab-color: rgba(210, 212, 213, 0.5); 

// Fonts
$text-font: Courier, 'Courier New', monospace;
$title-font: Helvetica, Arial, sans-serif;

$text-subtext-size: 16px;
$text-font-size: 18px;
$text-heading-size: 22px;

// Spacing
$header-margin: 1rem 2rem 3rem 2rem;
$align-content: 0rem 8rem;
$align-main-content: 6rem 8rem;
$content-padding: 1.5rem 8rem;

$margin-spacing: 2rem;

//Border
$default-border: 2px solid $black;
$grey-border: 2px solid $grey;
$input-border: 2px solid $text-color; 