@import 'config';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    color: $text-color
}

p { 
    font-family: $text-font;
    color: $text-color;
    font-size: $text-font-size
}

p.heading {
    color: $black;
    font-size: $text-heading-size;
}

p.subtext {
    font-size: $text-subtext-size
}

p.error {
    color: $red;
}

.heading {
    text-align: center;
}

input, textarea {
    font-size: $text-font-size;
    font-family: $text-font;
    color: $text-color;
    padding: 1rem;
    outline: none;
}

.dropdown {
    appearance: none;
    border: $input-border;
    font-family: $text-font;
    font-size: $text-font-size;
    color: $text-color;
}

.mt { margin-top: $margin-spacing !important } .mb { margin-bottom: $margin-spacing !important }

.default-link {
    text-decoration: none;
    color: $text-color;
}

.default-link:hover {
    color: #000;
}

.default-button {
    @extend %text-btn;
    background: $grey !important;
    width: 7.5rem; height: 7.5rem;
    text-decoration: none !important;
    border-radius: 100%;
    color: $white;
}

.default-button:hover {
    background: $text-color !important;
}

@import 'buttons';