@import '../../styles/_config.scss';

.filter {
    display: flex;
    justify-content: space-between;
    margin: $header-margin;

    .checkbox {
        display: flex;

        input {
            margin-right: .5rem;
        }
    }
}