@import '../../styles/_config.scss';

.filter {
    display: flex;
    justify-content: space-between;
    margin: $header-margin;
}

.filter .checkbox {
    display: flex;
}

.filter .checkbox input {
    margin-right: .5rem;
}