@import '../../styles/config';

$form-width: 75%;

.main {

    .dropdown {
        width: 20%;
        height: 2rem;
        align-self: flex-start;
        margin: 0 7.5rem;

        &::after {
            content: ' »';
        }
    }

    .element {
        width: $form-width;
    }

    textarea {
        height: 15rem;
    }

    .radiobtns {
        width: $form-width;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}