@import '../../styles/config';

$form-width: 75%;

.main {

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: $align-content;

        .dropdown {
            width: 20%;
            height: 2rem;
            align-self: flex-start;
            margin: 0 7.5rem;

            &::after {
                content: ' »';
            }
        }

        .element {
            border: $input-border;
            display: flex; justify-content: center;
            width: $form-width;
        }

        textarea {
            height: 15rem;
        }

        .radiobtns {
            width: $form-width;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

}