@import '../../styles/config';

.header {
    display: flex;
    justify-content: space-between;
    margin: $header-margin;
}

.right {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 60px; height: 60px;
}

.button {
    font-family: $text-font;
    font-size: $text-heading-size;
    border: $default-border;
    outline: none;
    background: none;
    width: 16rem;
    margin-right: 2rem;
    cursor: pointer;
    color: $text-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: #1e272e;
        color: #f4f4f4;
    }
}