@import '../../styles/config';

.header {
    display: flex;
    justify-content: space-between;
    margin: $header-margin;
}

.right {
    display: flex;
    justify-content: space-around;
}

.logo {
    background-color: $grey;
    width: 60px; height: 60px;
    border-radius: 100%;
}

.button {
    font-family: $text-font;
    font-size: $text-font-size;
    border: $default-border;
    outline: none;
    background: none;
    width: 16rem;
    margin-right: 2rem;
    cursor: pointer;
}

.button:hover {
    background: #1e272e;
    color: #f4f4f4;
}