@import '../../styles/config';
@import '../../styles/style.scss';

.dropdown {
    @extend input;
    height: 10rem;
    overflow: scroll;

    li {
        padding: 1rem 0;
        cursor: pointer;
        list-style: none;
        text-align: justify;
    }
}

.dropdown li:hover {
    background-color: $grey;
}

