@import '../../styles/config';

.content {

    .main {

        margin: $align-main-content;

        h2 {
            text-align: center;
        }
    
        p {
            text-align: justify;
        }
    
        .date {
            margin-top: 1.5rem;
        }

        .footer {
            display: flex;
            justify-content: space-between;

            div button:first-child {
                margin-right: .5rem;
            }
        }
    }
}